<h3>Editor Demo</h3>

<script type="text/babel">
  function generateOperation(text, newText) {
    var commonStart = 0
    var commonEnd = 0
    var operation = ot.TextOperation()

    while (text.charAt(commonStart) === newText.charAt(commonStart)) commonStart++

    while (text.charAt(text.length - 1 - commonEnd) === newText.charAt(newText.length - 1 - commonEnd) &&
    commonEnd + commonStart < text.length && commonEnd + commonStart < newText.length) {
      commonEnd++
    }

    if (commonStart > 0) operation.retain(commonStart)
    if (text.length !== commonStart + commonEnd) operation.delete(text.length - commonStart - commonEnd)
    if (newText.length !== commonStart + commonEnd) {
      operation.insert(newText.slice(commonStart, newText.length - commonEnd))
    }

    if (commonEnd > 0) operation.retain(commonEnd)
    return operation
  }

  function Editor(props) {
    const [text, setText] = React.useState(props.defaultText)
    let currentSelection = [0, 0]

    function onSelect(e) {
      currentSelection = [e.target.selectionStart, e.target.selectionEnd]
    }

    function onChange(e) {
      var newText = e.target.value
      console.log(generateOperation(text, newText))
      setText(newText)
    }

    return (
      <textarea style={{ width: '100%', height: 400 }} value={text} onSelect={onSelect} onChange={onChange}/>
    )
  }

  ReactDOM.render(
    <Editor defaultText='<%= j @text.html_safe %>'/>,
    document.getElementById('root'),
  )

</script>
