<h3>Editor Demo</h3>

<script type="text/babel">
  function Editor(props) {
    const [text, setText] = React.useState(props.defaultText);

    function onChange(e) {
      setText(e.target.value)
    }

    return (
      <textarea style={{ width: '100%', height: 400 }} value={text} onChange={onChange}/>
    );
  }

  ReactDOM.render(
    <Editor defaultText='<%= j @text.html_safe %>'/>,
    document.getElementById('root'),
  );

</script>
