<h3>Editor Demo</h3>

<script type="text/babel">
  function generateOperation(text, newText) {
    var commonStart = 0
    var commonEnd = 0
    var operation = new ot.TextOperation()

    while (text.charAt(commonStart) === newText.charAt(commonStart)) commonStart++

    while (text.charAt(text.length - 1 - commonEnd) === newText.charAt(newText.length - 1 - commonEnd) &&
    commonEnd + commonStart < text.length && commonEnd + commonStart < newText.length) {
      commonEnd++
    }

    if (commonStart > 0) operation.retain(commonStart)
    if (text.length !== commonStart + commonEnd) operation.delete(text.length - commonStart - commonEnd)
    if (newText.length !== commonStart + commonEnd) {
      operation.insert(newText.slice(commonStart, newText.length - commonEnd))
    }

    if (commonEnd > 0) operation.retain(commonEnd)
    return operation
  }

  function Editor(props) {
    const [text, setText] = React.useState(props.defaultText)
    const [revision, setRevision] = React.useState(Number(props.revision))

    let operationRef = React.useRef(new ot.TextOperation().retain(text.length))

    function doSendChanges(newText, params, onSuccess) {
      operationRef.current = new ot.TextOperation().retain(newText.length)

      $.ajax({
        url: '/documents',
        type: 'PUT',
        headers: {
          "Content-Type": "application/json",
        },
        data: JSON.stringify(params),
        success: onSuccess,
      });
    }

    const sendChanges = React.useRef(_.debounce(doSendChanges, 200)).current

    function onChange(e) {
      let newText = e.target.value

      operationRef.current = operationRef.current.compose(generateOperation(text, newText))
      setText(newText)

      const params = { revision, ops: operationRef.current.toJSON() }
      sendChanges(newText, params, ({ data }) => {
        if (data.missing_ops) {
          let missionOperation = ot.TextOperation.fromJSON(data.missing_ops)
          let requestOperation = ot.TextOperation.fromJSON(params.ops)

          let composed2 = ot.TextOperation.transform(missionOperation, requestOperation)
          let missionOperation2 = composed2[0]

          let composed3 = ot.TextOperation.transform(missionOperation2, operationRef.current)
          let missionOperation3 = composed3[0]
          operationRef.current = composed3[1]

          setText(missionOperation3.apply(newText))
        }

        setRevision(data.revision)
      })
    }

    return (
      <textarea style={{ width: '100%', height: 400 }} value={text} onChange={onChange}/>
    )
  }

  ReactDOM.render(
    <Editor defaultText="<%= j @text.html_safe %>" revision="<%= @revision %>" />,
    document.getElementById('root'),
  )

</script>
